$marineColor: #042259;
$paleRoseColor: #F5C8CF;
$paleGreyColor: #F0F5FF;
$lightPinkColor: #FCDDE2;
$darkGreyColor: #1F2022;
$waterBlueColor: #1D81CC;

$baseFont: 'Barlow', sans-serif;
$headerFont: 'Emblema One', cursive; 
$navFont: 'Catamaran', sans-serif;