// Put variables at top and mixins (if you have), then rest of partials.
@use 'variables' as *;
@use 'setup';


/* GLOBAL STYLING BEGINS */
* {
    border: 1px solid rgb(195, 81, 237);
    margin: 0;
}

body {
    font-size: 62.5%;
    font-family: $baseFont;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
}

h1,
h2,
h3,
a {
    font-family: $headerFont;
    text-transform: uppercase;
}

h2 {
    font-size: 2.2rem;
    color: $waterBlueColor;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
}

// Read More Button Styles
.read-more {
    background-color: $paleRoseColor;
    padding: 10px 15px;
    color: $marineColor;
}

img {
    width: 100%;
}

/* icon base styling */
i {
    color: $waterBlueColor;
    font-size: 1.5rem;
}

/* GLOBAL STYLING ENDS */

/* HEADER BEGINS */
header {
    background-image: url(../assets/header-group-appliances.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: $paleRoseColor;
    padding: 20px 0;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav a {
    color: $marineColor;
    font-family: $navFont;
    text-transform: uppercase;
    padding: 20px 20px;
    font-weight: 600;
    font-size: 1rem;
}

header nav a:hover,
header nav a:focus {
    color: $waterBlueColor;
}

.header-container {
    display: flex;
    /* height: calc(100vh - 20px - 20px); */
    height: 80vh;
}

.logo-section {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
}

.social-media-icons {
    display: flex;
    flex-basis: 50%;
    justify-content: end;
}

.social-media-icons ul {
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: $waterBlueColor;
    margin: 0;
}

.header-container p {
    font-size: 1.8rem;
    text-transform: lowercase;
    columns: $marineColor;
}

/* HEADER ENDS */

/* GALLERY SECTION BEGINS */

.gallery-section {
    background-color: $lightPinkColor;

    h2 {
        text-align: center;
        padding: 60px 0;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            flex-basis: 32%;
        }

        img {
            width: 100%;
        }
    }
}

.coffee-appliances {
    display: flex;
    padding: 60px 0;

    img {
        width: 30%;
    }

    .coffee-appliances-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 70%;
        padding-left: 20px;

        h2 {
            padding: 0 0 5px 0;
            text-align: left;
        }

        .opposite-button {
            background-color: $marineColor;
            color: $lightPinkColor;
        }
    }
}

/* GALLERY SECTION ENDS */

/* BLOG SECTION BEGINS */

.blog-section {
    display: flex;
    flex-wrap: wrap;

    .grid-formation {
        flex-basis: 50%;
    }

    .smoothies-anyone,
    .new-home {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        background-color: $paleGreyColor;
    }

    .smoothies-anyone {
        padding: 100px 100px 100px 150px;
    }

    .new-home {
        padding: 100px 150px 100px 100px;
    }
}

/* BLOG SECTION ENDS */

/* ICON SECTION BEGINS */

.icon-section {
    background-color: $lightPinkColor;
    padding: 80px 0;
    .icon-flex-container {
        display: flex;
        justify-content: space-evenly;
        
        .shop,
        .jobs,
        .events {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // icon styling
            i {
                color: $marineColor;
                font-size: 4em;
                padding: 10px;
            }

            a {
                font-size: 1.4rem;
                color: $waterBlueColor;
                letter-spacing: .1rem;
            }
        }
    }
}

/* ICON SECTION ENDS */