// Put variables at top and mixins (if you have), then rest of partials.
@use 'variables' as *;
@use 'setup';


/* GLOBAL STYLING BEGINS */
* {
    // border: 1px solid rgb(195, 81, 237);
    margin: 0;

    body {
        font-size: 62.5%;
        font-family: $baseFont;

        .wrapper {
            width: 80%;
            max-width: 1200px;
            margin: 0 auto;
        }

        img {
            width: 100%;
            height: auto;
            display: block
        }
    }
}

/* List Styles */
ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

/* Global Font Styles */
h1,
h2,
h3,
a,
input[type="submit"] {
    font-family: $headerFont;
    text-transform: uppercase;
    font-weight: 400;
}

h2 {
    font-size: 2.2rem;
    color: $waterBlueColor;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
    color: $darkGreyColor;
}

// "Read More" & Submit Button Styles
.read-more,
input[type="submit"] {
    background-color: $paleRoseColor;
    padding: 10px 15px;
    color: $marineColor;
    font-size: 1.1rem;
    transition: 300ms;
    border: 1px solid $paleRoseColor;

    &:hover,
    &:focus,
    &:active {
        background-color: $marineColor;
        color: $paleRoseColor;
        border: 1px solid $paleRoseColor;
    }
}

/* GLOBAL STYLING ENDS */

/* HEADER BEGINS */
header {

    background-image: url(../assets/header-group-appliances.png), radial-gradient(at bottom right, #fff, $paleRoseColor);
    background-repeat: no-repeat;
    background-position: bottom right;
    max-width: 100%;
    padding: 25px 0;
    object-fit: cover;
    position: relative;


    /* Top Navigation Bar */
    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav a {
        color: $marineColor;
        font-family: $navFont;
        text-transform: uppercase;
        padding: 10px 15px;
        margin: 0 10px;
        border-radius: 5%;
        font-weight: 600;
        font-size: 1rem;
        transition: 300ms;

        &:hover,
        &:focus,
        &:active {
            color: $lightPinkColor;
            background-color: $marineColor;
        }
    }
}

/* Vertical Icon Bar */
.social-media-icons {
    position: absolute;
    text-align: center;
    right: 4%;
    top: 15%;

    i {
        color: $waterBlueColor;
        font-size: 1.5rem;
        padding: 10px 10px;
        margin: 5px 0;
        transition: 500ms;
        width: 100%;


        &:hover,
        &:focus,
        &:active {
            background-color: $marineColor;
            color: $paleRoseColor;
            width: 100%;
            border-radius: 50%;
        }
    }
}

/* Electric Select Logo */
.header-logo {
    display: flex;
    height: calc(100vh - 44px);
    flex-direction: column;
    width: 50%;
    justify-content: center;
    line-height: 5rem;



    h1 {
        font-size: 6rem;
        text-transform: uppercase;
        color: $waterBlueColor;
        margin: 0;
    }

    p {
        font-size: 1.8rem;
        text-transform: lowercase;
        columns: $marineColor;
        padding: 20px 0;
    }
}

/* HEADER ENDS */

/* GALLERY SECTION BEGINS */

.gallery-section {
    background-color: $lightPinkColor;
    padding-bottom: 40px;

    h2 {
        text-align: center;
        padding: 60px 0;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            flex-basis: 32%;
            border: 5px solid $paleRoseColor;
            transition: 300ms;

            &:hover,
            &:focus,
            &:active {
                border: 5px solid $waterBlueColor;
            }
        }
    }
}

.coffee-appliances {
    display: flex;
    padding: 60px 0;

    .img-container {
        width: 30%;
    }

    .coffee-appliances-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 70%;
        padding-left: 20px;

        h2 {
            padding: 0 0 5px 0;
            text-align: left;
        }

        p {
            padding-bottom: 20px;
        }

        .opposite-button {
            background-color: $marineColor;
            color: $lightPinkColor;
            transition: 300ms;
            border: 1px solid $marineColor;

            &:hover,
            &:focus,
            &:active {
                background-color: $paleRoseColor;
                color: $marineColor;
                border: 1px solid $marineColor;
            }
        }
    }
}

/* GALLERY SECTION ENDS */

/* BLOG SECTION BEGINS */

.blog-section {
    display: flex;
    flex-wrap: wrap;

    .grid-formation {
        flex-basis: 50%;
    }

    .smoothies-anyone,
    .new-home {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        background-color: $paleGreyColor;
    }

    .smoothies-anyone {
        // padding: 100px 100px 100px 150px;
        padding: 5vh 5vw 5vh 11vw;
    }

    .new-home {
        // padding: 100px 150px 100px 100px;
        padding: 5vh 11vw 5vh 5vw;
    }
}

/* BLOG SECTION ENDS */

/* ICON SECTION BEGINS */

.icon-section {
    background-color: $lightPinkColor;
    padding: 80px 0;

    .icon-flex-container {
        display: flex;
        justify-content: space-evenly;

        .shop,
        .jobs,
        .events {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
    }

    /* Lower Icon Styles */
    a {
        font-size: 1.4rem;
        color: $waterBlueColor;
        letter-spacing: .1rem;
        transition: 500ms;

        &:hover,
        &:focus,
        &:active {
            color: $marineColor;
        }

        i {
            color: $marineColor;
            font-size: 3rem;
            padding: 10px;
            transition: 500ms;
            width: 100%;

            &:hover,
            &:focus,
            &:active {
                background-color: $marineColor;
                color: $paleRoseColor;
                width: 100%;
                border-radius: 50%;
            }

        }
    }
}


/* ICON SECTION ENDS */

/* FOOTER SECTION BEGINS */

footer {
    background-color: $paleGreyColor;

    >p {
        background-color: $marineColor;
        color: #fff;
        text-align: center;
        padding: 10px 0;
    }
}

/* footer structure */
.footer-flex-container {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;


    h3,
    a {
        color: $waterBlueColor;
        font-size: 1.2rem;
        letter-spacing: .1rem;
    }

    h3 {
        padding-bottom: 10px;
    }

    .stay-updated-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-basis: 50%;

        .email-container {
            display: flex;
            width: 100%;
            padding-top: 10px;

            input[type="email"] {
                width: 75%;
                padding: 10px 15px;
                font-size: 1rem;
                font-family: $baseFont;
                border: 1px solid $lightPinkColor;
            }

            input[type="submit"] {
                border: none;
                cursor: pointer;
                border: 1px solid $paleRoseColor;

                &:hover,
                &:focus,
                &:active {
                    background-color: $marineColor;
                    color: $paleRoseColor;
                    border: 1px solid $paleRoseColor;
                }
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 20%;
        // margin-left: 10%;
    }

    .secondary-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        flex-basis: 15%;

        a:hover,
        a:focus,
        a:active {
            color: $marineColor;
        }
    }
}

/* FOOTER SECTION ENDS */

@media (max-width: 1245px) {}

@media (max-width: 940px) {

    /* HEADER EDITS */
    .header-logo {
        margin-top: 20%;
        justify-content: flex-start;

        h1 {
            font-size: 5rem;
        }

        p {
            font-size: 1.6rem;
        }
    }

    /*GALLERY SECTION EDITS */
    .gallery-section ul li {
        flex-basis: 49%;

        &:last-child {
            display: none;
        }
    }




    /* COFFEE APPLIANCES EDITS */
    .coffee-appliances {
        flex-direction: column;

        .img-container {
            width: 100%;
            height: 700px;
            padding: 40px 0;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .coffee-appliances-text {
            align-items: center;
            width: 100%;
            padding: 0 0;

            h2 {
                text-align: center;
                padding: 0 0 20px 0;
            }

            .opposite-button {
                text-align: center;
                padding: 20px 30px;
            }
        }
    }

    /* BLOG SECTION BEGINS */
    .blog-section {
        .grid-formation {
            flex-basis: 100%;
        }

        .smoothies-anyone,
        .new-home {
            background-color: $lightPinkColor;
            padding: 5vh 10vw 5vh 10vw;
            align-items: center;

            p {
                padding: 20px 0;
            }
        }

        .read-more {
            background-color: $marineColor;
            color: $lightPinkColor;
            transition: 300ms;
            border: 1px solid $marineColor;
            padding: 20px 30px;

            &:hover,
            &:focus,
            &:active {
                background-color: $paleRoseColor;
                color: $marineColor;
                border: 1px solid $marineColor;
            }
        }

        img {
            height: 600px;
            // width: 100%;
            object-fit: cover;
        }

        .blog-img-1 {
            order: -1;
        }
    }
}