// Put variables at top and mixins (if you have), then rest of partials.
@use 'variables' as *;
@use 'setup';


/* GLOBAL STYLING BEGINS */
* {
    border: 1px solid rgb(195, 81, 237);
    margin: 0;

    body {
        font-size: 62.5%;
        font-family: $baseFont;

        .wrapper {
            width: 80%;
            max-width: 1200px;
            margin: 0 auto;
        }

        img {
            width: 100%;
            height: auto;
            display: block
        }
    }
}

/* List Styles */
ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

/* Global Font Styles */
h1,
h2,
h3,
a,
input[type="submit"] {
    font-family: $headerFont;
    text-transform: uppercase;
    font-weight: 400;
}

h2 {
    font-size: 2.2rem;
    color: $waterBlueColor;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
    color: $darkGreyColor;
}

// "Read More" & Submit Button Styles
.read-more,
input[type="submit"] {
    background-color: $paleRoseColor;
    padding: 10px 15px;
    color: $marineColor;
    font-size: 1.1rem;
}

/* General Icon Styles */
i {
    color: $waterBlueColor;
    font-size: 1.5rem;
}

/* GLOBAL STYLING ENDS */

/* HEADER BEGINS */
header {
    background-image: url(../assets/header-group-appliances.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: $paleRoseColor;
    padding: 25px 0;

    /* Top Nav Styles */
    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav a {
        color: $marineColor;
        font-family: $navFont;
        text-transform: uppercase;
        padding: 25px 20px;
        font-weight: 600;
        font-size: 1rem;

        &:hover,
        &:focus {
            color: $waterBlueColor;
        }
    }
}

/* Header Flex Container Styles */
.header-container {
    display: flex;
    height: calc(100vh - 77px);

    /* Electric Select Logo */
    .logo-section {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        justify-content: center;

        h1 {
            font-size: 4rem;
            text-transform: uppercase;
            color: $waterBlueColor;
            margin: 0;
        }

        p {
            font-size: 1.8rem;
            text-transform: lowercase;
            columns: $marineColor;
        }
    }

    /* Social Icons Styles */
    .social-media-icons {
        display: flex;
        flex-basis: 50%;
        justify-content: end;
        ul {
                flex-direction: column;
                padding-top: 20%;
                li {
                    padding: 10px 0;
                }
            }
    }
}



/* HEADER ENDS */

/* GALLERY SECTION BEGINS */

.gallery-section {
    background-color: $lightPinkColor;

    h2 {
        text-align: center;
        padding: 60px 0;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            flex-basis: 32%;
        }
    }
}

.coffee-appliances {
    display: flex;
    padding: 60px 0;

    .img-container {
        width: 30%;
    }

    .coffee-appliances-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 70%;
        padding-left: 20px;

        h2 {
            padding: 0 0 5px 0;
            text-align: left;
        }

        .opposite-button {
            background-color: $marineColor;
            color: $lightPinkColor;
        }
    }
}

/* GALLERY SECTION ENDS */

/* BLOG SECTION BEGINS */

.blog-section {
    display: flex;
    flex-wrap: wrap;

    .grid-formation {
        flex-basis: 50%;
    }

    .smoothies-anyone,
    .new-home {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        background-color: $paleGreyColor;
    }

    .smoothies-anyone {
        // padding: 100px 100px 100px 150px;
        padding: 5vh 5vw 5vh 11vw;
    }

    .new-home {
        // padding: 100px 150px 100px 100px;
        padding: 5vh 11vw 5vh 5vw;
    }
}

/* BLOG SECTION ENDS */

/* ICON SECTION BEGINS */

.icon-section {
    background-color: $lightPinkColor;
    padding: 80px 0;

    .icon-flex-container {
        display: flex;
        justify-content: space-evenly;

        .shop,
        .jobs,
        .events {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // icon styling
            i {
                color: $marineColor;
                font-size: 4em;
                padding: 10px;
            }

            a {
                font-size: 1.4rem;
                color: $waterBlueColor;
                letter-spacing: .1rem;
            }
        }
    }
}

/* ICON SECTION ENDS */

/* FOOTER SECTION BEGINS */

footer {
    background-color: $paleGreyColor;

    >p {
        background-color: $marineColor;
        color: #fff;
        text-align: center;
        padding: 10px 0;
    }
}

/* footer structure */
.footer-flex-container {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;


    h3,
    a {
        color: $waterBlueColor;
        font-size: 1.2rem;
        letter-spacing: .1rem;
    }

    h3 {
        padding-bottom: 10px;
    }

    .stay-updated-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-basis: 50%;

        .email-container {
            display: flex;
            width: 100%;
            padding-top: 10px;

            input[type="email"] {
                width: 75%;
                padding: 10px 15px;
                font-size: 1rem;
                font-family: $baseFont;
                border: 1px solid $lightPinkColor;
            }

            input[type="submit"] {
                border: none;
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 20%;
        // margin-left: 10%;
    }

    .secondary-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        flex-basis: 15%;
    }
}

/* FOOTER SECTION ENDS */